<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sasc.sentinel">

    <!-- Permissões Críticas -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Entrópica Visual -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Tor P2P -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Atributo de Hardware: Camera necessária para Entropia -->
    <uses-feature android:name="android.hardware.camera.any" android:required="true" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_sentinel"
        android:label="@string/app_name"
        android:theme="@style/Theme.SASC.Dark">

        <!-- Atividade Principal (Interface Minimalista) -->
        <activity android:name=".SentinelActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Serviço Tor em Background (Native) -->
        <service android:name=".tor.TorService"
            android:process=":tor_daemon" />
    </application>
</manifest>
