name: build and test on pr

on:
  pull_request:
    branches:
      - main

jobs:
  build_c:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build and Test C components
        run: |
          make
          make test

  build_rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Build and Test Rust components
        run: |
          cd rust
          cargo build --verbose
          cargo test --verbose
